.sass-cache/*
material-design-iconic-font
material-design-iconic-font/
static/assets/material-design-iconic-font
static/assets/material-design-iconic-font/
templates/static/assets/material-design-iconic-font
templates/static/assets/material-design-iconic-font/
